# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml

# bundler cache
_site
vendor
.jekyll-cache
.jekyll-metadata

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json
Gemfile.lock

# Misc
_sass/vendors